<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Age Categories Statistic</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/hrNonForm.css" th:href="@{/css/hrNonForm.css}"/>
</head>
<body>
<br/>
<table>
    <tr>
        <th>Age</th>
        <th>Count of employees</th>
    </tr>
    <tr>
        <td style="text-align: left"> <20 </td>
        <td style="text-align: right">
            <span th:text="${statistic[0][0] == null} ? 0 : ${statistic[0][0]}"> Count </span>
        </td>
    </tr>
    <tr>
        <td style="text-align: left"> 20-39 </td>
        <td style="text-align: right">
            <span th:text="${statistic[0][1] == null} ? 0 : ${statistic[0][1]}"> Count </span>
        </td>
    </tr>
    <tr>
        <td style="text-align: left"> 40-59 </td>
        <td style="text-align: right">
            <span th:text="${statistic[0][2] == null} ? 0 : ${statistic[0][2]}"> Count </span>
        </td>
    </tr>
    <tr>
        <td style="text-align: left"> 60+ </td>
        <td style="text-align: right">
            <span th:text="${statistic[0][3] == null} ? 0 : ${statistic[0][3]}"> Count </span>
        </td>
    </tr>
</table>
<br/>
<div align="center">
<a href="/">Click here to return to the main page</a>
</div>
</body>
</html>
